* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #d1faff;
  margin: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/*.hidden {
  display: none;
}
*/

.results-img {
	padding: 10px;
	margin: auto;

}
.js-box {
	margin: auto;
	border-radius: 25px
}

.btn {

	background-color: #6a8eae;
	border-radius: 12px;
	color: #FFFFFF;
}

img {
	height: 500px;
	width: 500px;
	border-radius: 25px;
}
