* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

/*.hidden {
  display: none;
}
*/

.results-img {

	margin: auto;

}
.js-box {
	width: 1000px;
	height: 1000px;
	border-radius: 25px
}
